@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* Box Model */
  margin: 0;
  padding: 0;
  height: 100%;
  width : 100%;

  /* Layout e Posicionamento */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Fundo e Estética */
  background: url('https://cdn.pixabay.com/photo/2020/02/29/22/21/new-york-4891246_1280.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

main {
  /* Reset e Box Model */
  width: 90%;
  height: 90%; /* Permite o ajuste automático da altura */
  min-height: 250px; /* Define uma altura mínima */
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;

  /* Fundo */
  background: rgb(84, 218, 255);
}


